@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is a very simple project to simulate 
        <a href="https://www.pathofexile.com/developer/docs/authorization" target="_blank">Path of Exile's API Authorization</a> endpoints.
    </p>
    <p>This product isn't affiliated with or endorsed by Grinding Gear Games in any way.</p>
</div>
